{
  "swagger": "2.0",
  "info": {
    "title": "SmsManager",
    "description": "Send SMS (and multi-channel) messages through the SmsManager API. Deliver transactional and promotional messages to one or more recipients worldwide with a single action.",
    "version": "2.0",
    "contact": {
      "name": "SmsManager Support",
      "url": "https://developers.smsmanager.com"
    }
  },
  "host": "api.smsmngr.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key",
      "description": "SmsManager API key. Create one in your account settings at https://app.smsmanager.com/app/developers/apikeys."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/message": {
      "post": {
        "operationId": "SendMessage",
        "summary": "Send message",
        "description": "Send a single message to one or more recipients (up to 10 recipients per request).",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages accepted for delivery.",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "400": {
            "description": "Bad request. The request body is invalid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Message": {
      "type": "object",
      "required": [
        "body",
        "to"
      ],
      "properties": {
        "body": {
          "type": "string",
          "maxLength": 1000,
          "description": "The text content of the message.",
          "title": "Message text",
          "x-ms-summary": "Message text"
        },
        "to": {
          "type": "array",
          "description": "List of recipients (1 to 10).",
          "title": "Recipients",
          "x-ms-summary": "Recipients",
          "items": {
            "type": "object",
            "required": [
              "phone_number"
            ],
            "properties": {
              "phone_number": {
                "type": "string",
                "description": "Recipient's phone number in international E.164 format, including the leading '+' (for example +420777123456).",
                "title": "Phone number",
                "x-ms-summary": "Phone number",
                "example": "+420777123456"
              }
            }
          }
        },
        "tag": {
          "type": "string",
          "description": "Optional tag used to group messages (for example by campaign). Special tags: 'priority', 'transactional'.",
          "title": "Tag",
          "x-ms-summary": "Tag",
          "x-ms-visibility": "advanced"
        },
        "callback": {
          "$ref": "#/definitions/Callback"
        }
      }
    },
    "Callback": {
      "type": "object",
      "description": "Delivery-receipt configuration. You fully define how SmsManager POSTs each delivery receipt to your endpoint (URL, method, headers and body template), so receipts arrive in exactly the shape your target platform expects - no middleware. Ideal target here is a Power Automate 'When a HTTP request is received' flow trigger.",
      "title": "Delivery receipt callback",
      "x-ms-summary": "Delivery receipt callback",
      "x-ms-visibility": "advanced",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "maxLength": 2048,
          "minLength": 8,
          "pattern": "^https?://",
          "description": "Endpoint SmsManager POSTs each delivery receipt to. For Power Platform, use your Power Automate flow's HTTP request trigger URL.",
          "title": "Callback URL",
          "x-ms-summary": "Callback URL",
          "example": "https://prod-00.westeurope.logic.azure.com/workflows/xxxxxxxx/triggers/manual/paths/invoke?api-version=2016-06-01&sig=YOUR_TRIGGER_SIGNATURE"
        },
        "method": {
          "type": "string",
          "enum": [
            "POST",
            "PUT",
            "PATCH",
            "GET"
          ],
          "default": "POST",
          "description": "HTTP method SmsManager uses when sending the receipt.",
          "title": "Method",
          "x-ms-summary": "Method"
        },
        "content_type": {
          "type": "string",
          "enum": [
            "application/json",
            "application/x-www-form-urlencoded"
          ],
          "default": "application/json",
          "description": "Content type of the outgoing receipt request.",
          "title": "Content type",
          "x-ms-summary": "Content type"
        },
        "headers": {
          "type": "object",
          "description": "Custom headers (up to 20) your platform requires, such as auth tokens or signatures.",
          "title": "Headers",
          "x-ms-summary": "Headers"
        },
        "item": {
          "type": "object",
          "description": "Per-recipient template. May be an object or an array.",
          "title": "Item template",
          "x-ms-summary": "Item template"
        },
        "body": {
          "type": "object",
          "description": "Request body template SmsManager fills with receipt data and sends to the URL. May be an object or an array.",
          "title": "Body template",
          "x-ms-summary": "Body template"
        },
        "batch_size": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "description": "Number of receipts SmsManager groups per callback request.",
          "title": "Batch size",
          "x-ms-summary": "Batch size"
        },
        "timeout_ms": {
          "type": "integer",
          "minimum": 1000,
          "maximum": 10000,
          "description": "Timeout in milliseconds for each callback request.",
          "title": "Timeout (ms)",
          "x-ms-summary": "Timeout (ms)"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "request_id": {
          "type": "string",
          "description": "Unique identifier of the request.",
          "title": "Request ID",
          "x-ms-summary": "Request ID"
        },
        "accepted": {
          "type": "array",
          "description": "Recipients that were accepted for delivery.",
          "title": "Accepted",
          "x-ms-summary": "Accepted",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Index of the recipient in the original 'to' array.",
                "title": "Key",
                "x-ms-summary": "Key"
              },
              "message_id": {
                "type": "string",
                "description": "Unique identifier of the accepted message.",
                "title": "Message ID",
                "x-ms-summary": "Message ID"
              }
            }
          }
        },
        "rejected": {
          "type": "array",
          "description": "Recipients that were rejected.",
          "title": "Rejected",
          "x-ms-summary": "Rejected",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Index of the recipient in the original 'to' array.",
                "title": "Key",
                "x-ms-summary": "Key"
              }
            }
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "Message": {
          "type": "string",
          "description": "Human-readable error message.",
          "title": "Message",
          "x-ms-summary": "Error message"
        }
      }
    }
  },
  "tags": [
    {
      "name": "sending",
      "description": "Operations for sending messages."
    }
  ]
}
